.main {
  display: flex;
  padding: 20px;
}

.inner {
  flex: 1 1 auto; 
  text-align: center;
  margin: 10px; 
  padding: 5px;
}

#redux-inner {
  border: 1px solid red;
}

#mobx-inner {
  border: 1px solid blue;
}